<div class="border-bottom row" style="margin-bottom: 16px; padding-bottom: 8px;">
   <div class="col-10">
      <h4 style="color:rgb(120,120,120)">{{job['title']}}</h4>
       <div>  <b>Location:</b> {{job['location']}}  </div>
       {% if 'salary' in job %}
       <div>  <b>Salary:</b> {{job['salary']}}  </div>
       {% endif %}
   </div>
   <div class="col-2">
     <a href="mailto:hello@world.ai?subject=Application%20for%20{{job['title']}}&body=%3Cyour%20name%3E%0D%0A%3Cinfo%20and%20details%3E%0D%0A%3Cresume%20link%3E%0D%0A%3Clinked%20In%3E" type="button" class="btn btn-outline-primary">APPLY</a>
   </div>
 </div>